// Text Color
.text-primary {
  color: $primaryColor !important;
}

.text-secondary {
  color: $secondaryColor !important;
}

.text-dark {
  color: $darkColor !important;
}




// Background Color
.bg-primary {
  background-color: $primaryColor !important;
}

.bg-secondary {
  background-color: $secondaryColor !important;
}

.bg-dark {
  background-color: $darkColor !important;
}



