// Directions
$ltr: "[dir='ltr']";
$rtl: "[dir='rtl']";

//Scss Vars
$primaryColor:#D98639;
$primaryColorLight: #F7D2C4;
$primaryColorDark: #964B00;
$secondaryColor:#5A5A5C;
$thirdColor:#484747;
$darkColor:#0d0d0d;
$whiteColor:#fff;
$primaryBgColor:#1E1F27;
$elementBorderColor: #d1d5db;
$elementDisabledBg:#8E8E93;


//element properties
$elementHight: 40px;
$elementPadding: .5rem;
$elementRadius: 8px;


//text
$lgText:18px;
$mdText:14px;
$smText:12px;

