input {

    width: 100%;
    font-size: initial;

    &.p-inputtext {
        border: 1px solid $elementBorderColor;
        border-radius: $elementRadius;
        // padding: $elementPadding;
        height: $elementHight;
        background: #696969CC;
        color: $whiteColor;
        width: 100%;

        &:focus:not(:read-only),
        &:hover:not(:read-only) {
            border: 0;
        }

        &:disabled,
        &:read-only {
            // background-color: $elementDisabledBg;
        }
    }

}

