.swiper {

    &-button-next,
    &-button-prev {

        border-radius: 50%;

        // background-color: $primaryBgColor;
        // opacity: .4;
        &::after {
            font-size: $mdText !important;
            color: $primaryColor;
        }
    }

    &-pagination {

        &-bullet {
            background-color: $primaryColorLight !important;

            &-active {
                background-color: $primaryColor !important;
            }
        }
    }

    &-slide-active {
        // transform: scale(1.6);
        /* Zoom in by 10% */
        z-index: 2;
        border: 1px solid $primaryColor;
        border-radius: 8px;
    }
}