<div class="container-fluid">

    <div class="page-cotrols">
        <i class="pi pi-arrow-left" routerLink="/home"></i>
        <span>Select Branch</span>

    </div>

    <span class="search p-input-icon-left branch-search">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Search keyword" />
    </span>


    <div class="row branches">

        <ng-container *ngIf="0;else emptyData">
            <div class="col-md-3" *ngFor="let item of [1,2,3,4,5]">
                <div class="branch-item">
                    <div class="branch-image">
                        <img src="https://media.themoviedb.org/t/p/w500_and_h282_face/gPJZKiqBU5OVPhalvNDkU6NF8jQ.jpg"
                            alt="branch image">
                    </div>
                    <div class="branch-content">
                        <div class="branch-name">
                            <span>SM City Marikina</span>
                            <div class="branch-rate">
                                <i class="pi pi-star-fill"></i>
                                <span>4.9</span>

                            </div>
                        </div>
                        <div class="branch-info">
                            <p> <i class="pi pi-ticket me-1"></i>PHP 279</p>
                            <p><i class="pi pi-exclamation-circle me-1"></i>6 Cinemas</p>


                        </div>


                    </div>
                </div>

            </div>

        </ng-container>

        <ng-template #emptyData>
            <app-empty-box></app-empty-box>
        </ng-template>
    </div>
</div>