<div class="container-fluid">

    <div class="page-cotrols">
        <i class="pi pi-arrow-left" (click)="goBack()"></i>
        <span>Select Branch</span>

    </div>

    <span class="search p-input-icon-left branch-search">
        <i class="pi pi-search"></i>
        <input pInputText type="text" #branch (input)="filterBranches(branch.value)" placeholder="Search keyword" />
    </span>


    <div class="row branches">

        <ng-container *ngIf="uiCinemas.length>0;else emptyData">
            <div class="col-md-3" *ngFor="let item of uiCinemas">
                <div class="branch-item">
                    <div class="branch-image">
                        <img [src]="item.CinemaImage" alt="branch image" class="img-fluid">
                    </div>
                    <div class="branch-content">
                        <div class="branch-name">
                            <span>{{item.CinemaName}}</span>
                            <div class="branch-rate">
                                <i class="pi pi-star-fill"></i>
                                <span>{{item.CinemaRating}}</span>

                            </div>
                        </div>
                        <div class="branch-info">
                            <p> <i class="pi pi-ticket me-1"></i>{{item.TicketsAvailable}}</p>
                            <p><img src="assets/imgs/Recliner.svg" alt="">{{item.CinemaHalls}} <span>Cinemas</span></p>


                        </div>


                    </div>
                </div>

            </div>

        </ng-container>

        <ng-template #emptyData>
            <app-empty-box [mainDesc]="'No cinemas found near you.'"></app-empty-box>
        </ng-template>
    </div>
</div>