<div class="container-fluid home-section" *ngIf="!!moviesData">

    <p-tabMenu [model]="items"></p-tabMenu>


    <div class="mt-5">
        <h4 class="text-white">Coming Soon</h4>

        <div class="banner-wrap">
            <app-img-handler [src]="moviesData.ComingSoonBanner" width="350px" height="200px"
                alt="Demo image"></app-img-handler>

            <div class="banner-content">

                <p>{{moviesData.ComingSoonTitle}}</p>
            </div>
        </div>


        <div class="sections">
            <p-tabMenu [model]="categoriesLabels" class="btn-tabMenu">

                <ng-template pTemplate="item" let-item>


                    <span class="" [routerLink]="[]" [queryParams]="{category:item.id}" [queryParamsHandling]="'merge'"
                        (click)="getCurrentCategoryFilms(item.id)" [routerLinkActiveOptions]="{exact:true}"
                        routerLinkActive="active-item">

                        {{item.label}}
                    </span>


                </ng-template>
            </p-tabMenu>
            <div class="mt-4">
                <h4 class="text-white">Now Showing</h4>


                <div class="my-5">

                    <ng-container *ngIf="currentCategoryFilms.length>0;else emptyData">
                        <swiper [config]="config">
                            <ng-template swiperSlide *ngFor="let film of currentCategoryFilms">
                                <div class="swiper-item">
                                    <app-img-handler [src]="film.FilmImage" class="img-fluid" alt="" width="240px"
                                        height="350px">
                                    </app-img-handler>
                                    <p class="cursor-pointer" [routerLink]="['/movie','details']"
                                        [queryParams]="{film:film.FilmID}" [queryParamsHandling]="'merge'">
                                        {{film.FilmName}}</p>
                                    <div class="film-tags">
                                        <div class="grey-badge" *ngFor="let tag of film.Tags.slice(0,3)">{{tag}}</div>
                                    </div>

                                </div>

                            </ng-template>

                        </swiper>

                    </ng-container>
                    <ng-template #emptyData>
                        <app-empty-box></app-empty-box>
                    </ng-template>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>