<div class="" *ngIf="currentFilm">
    <!-- [style.background-image]="'url(https://media.themoviedb.org/t/p/w500_and_h282_face/gPJZKiqBU5OVPhalvNDkU6NF8jQ.jpg)'" -->
    <div class="banner-wrap">
        <app-img-handler [src]="currentFilm.FilmImage" width="350px" height="50vh" alt="Demo image">

        </app-img-handler>
        <div class="banner-content">

            <i class="pi pi-arrow-left" routerLink="/home"></i>

            <div class="banner-actions">
                <img src="assets/imgs/Play.svg" alt="">
                <button pButton class="primBtn" [label]="'Get Ticket'" [icon]="'pi pi-ticket'"
                    routerLink="/movie/branches" [queryParamsHandling]="'merge'"
                    [disabled]="!currentFilm.HasTicketsAvail"> </button>
            </div>
        </div>
    </div>

    <div class="movie-content">
        <div class="movie-info">
            <div class="film-tags">
                <div class="grey-badge" *ngFor="let tag of currentFilm.Tags">{{tag}}</div>
            </div>
            <div class="movie-time">

                <i class="pi pi-clock"></i>
                <span>{{currentFilm.FilmDuration}}</span>
            </div>

        </div>

        <h2 class="main-title">{{currentFilm.FilmName}}</h2>
        <p>
            {{currentFilm.FilmDescription}}
        </p>
    </div>
</div>