.banner-wrap {
    position: relative;

    .banner-content {

        position: absolute;
        top: 0rem;
        color: white;
        width: 100%;
        height: 100%;
        padding: 1rem 2rem;
        display: grid;


        .banner-actions {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

        }
    }

}


.movie-content {
    margin-block: 1rem;
    padding-inline: .5rem;

    .movie-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 1rem;

        i {
            font-size: 12px;
            margin-inline-end: .2rem;
        }

        .film-tags {
            display: flex;
            gap: .4rem;
            align-items: center;
            flex-wrap: wrap;
            justify-content: start;
            margin-top: .5rem;
            max-width: 80%;
        }
    }

    .main-title {
        margin-bottom: 1rem;
    }

    .film-desc {

        &.clamp {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
            padding-inline-end: 1.8rem;
            .more-text {
                position: absolute;
                right: 0;
                bottom: 0;
                padding-left: 5px;
                cursor: pointer;
            }
        }

    }

}