

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;

  div.page-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  h3 {
    font-size: 24px;
  }

  .page-actions-btns {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}



.required {
  position: relative;

  &::after {
    content: "*";
    color: #c60000;
    margin-inline-start: 4px;
  }
}

.divHolder {
  background: #ffffffcc 0% 0% no-repeat padding-box;

  border-radius: 8px;
  transition: 0.2s all ease-in-out;
  margin: 1.2em 0;
  box-shadow: .5rem .5rem .5rem rgba(146, 145, 145, 0.175);
  padding: 1rem;
}


.actionBtns {
  padding-top: 4px;
  display: flex;
  justify-content: start;
  gap: 0px 12px;
  align-items: center;
  height: 100%;
}

.tableEmptyMsg {
  text-align: center;
  padding: 4rem;

  .msgTitle {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .msgDescription {
    font-size: 14px;
    color: $secondaryColor;
  }
}


.cursor-pointer {
  cursor: pointer;
}

.grey-badge{
  background-color: $thirdColor;
  padding: .4rem;
  font-size: $smText;
  border-radius: 8px;
  width: fit-content;
}
